*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: url(https://www.insidescience.org/sites/default/files/5_heic1808a_crop.jpg)
    no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
